@use "../abstracts" as ab;

.add-member {
	padding-block: 0.6em;

	h3 {
		text-align: center;
		margin-bottom: 1em;
	}

	&__form {
		background-color: lighten(ab.$background-secondary, 5);
		padding-block: 0.7em;
		border-radius: 0.6em;
		padding-inline: 0.5em;

		form {
			display: flex;
			flex-direction: column;
			gap: 0.7em;

			.input-item {
				display: flex;
				flex-direction: column;
				gap: 0.2em;

				label {
					font-weight: 600;
				}

				input {
					max-width: 100%;
					border: none;
					outline: none;
					background-color: transparent;
					border-bottom: 0.15em solid ab.$text-primary;
					font-weight: 500;
					padding-block: 0.2em;
					font-size: 1.1rem;

					color: ab.$text-secondary;

					transition: border-color 0.3s ease-in;

					&:focus {
						border-color: ab.$accent;
					}

					&.error {
						border-color: ab.$error;
					}
				}

				p.error {
					color: ab.$error;
					font-size: 0.9rem;
				}
			}

			button {
				outline: none;
				border: none;
				border-radius: 1em;
				font-size: 1.2rem;
				font-weight: 500;
				color: ab.$text-primary;
				cursor: pointer;
				background-color: ab.$accent;
				padding-block: 0.2em;
				margin-top: 1em;

				transition: background-color 0.3s ease-in;

				@include ab.screen-40 {
					max-width: 15rem;
				}

				&:hover {
					background-color: lighten(ab.$accent, 5);
				}

				&:active {
					background-color: darken(ab.$accent, 5);
				}
			}
		}
	}
}
