@use "../abstracts" as ab;

.dashboard {
	// outline: 2px solid coral;
	width: min(92%, 80rem);
	margin-inline: auto;
	margin-block: 1.5em;

	display: flex;
	flex-direction: column;
	gap: 2em;

	@include ab.screen-40 {
		flex-direction: row;
		// border-radius: 0.8em;
		padding-inline: 1em;
		padding-block: 1em;
	}

	&-nav {
		padding-block: 0.6em;
		padding-inline: 1em;
		border-radius: 0.6em;

		background-color: ab.$background-secondary;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: flex;
			justify-content: space-between;

			font-size: clamp(1rem, 5vw, 1.2rem);

			@include ab.screen-40 {
				flex-direction: column;
				gap: 3em;
				padding-block: 1em;
				padding-inline: clamp(0.8em, 3vw, 2em);
			}

			a {
				text-decoration: underline transparent;
				color: ab.$text-secondary;

				transition: color 0.3s ease-in, text-decoration-color 0.3s ease-in;

				&.active {
					color: ab.$accent;
					text-decoration-color: ab.$accent;
					font-weight: 500;
				}

				&:hover {
					color: ab.$accent;
				}
			}
		}
	}

	&-content {
		background-color: ab.$background-secondary;
		border-radius: 0.6em;
		padding-inline: 0.8em;
		padding-block: 0.6em;
		min-height: 30rem;

		width: 100%;
	}
}
