@use "../abstracts" as ab;

.login {
	width: min(90%, 40rem);
	margin-inline: auto;
	background-color: ab.$background-secondary;

	padding-block: 1em 1.5em;
	padding-inline: clamp(1em, 3.5vw, 2.5em);
	margin-block: 8em 0;

	border-radius: 0.8em;

	&-head {
		color: ab.$accent;
		text-align: center;
		margin-block: 0.5em;
	}

	&-form {
		display: flex;
		flex-direction: column;
		gap: 1em;
		justify-content: center;

		div {
			max-width: 100%;
			display: flex;
			flex-direction: column;
			gap: 0.2em;

			label {
				font-size: 1.2rem;
				font-weight: 500;
			}

			p {
				font-size: 0.9rem;
				font-weight: 500;

				color: ab.$error;
			}

			input {
				max-width: 100%;

				outline: none;
				border: none;
				border-radius: 0.3em;

				font-size: 1.25rem;
				padding-inline: 0.4em;
				padding-block: 0.2em;

				font-weight: 500;
				outline: 0.15em solid transparent;

				transition: outline-color 0.25s ease-in;

				&:focus {
					outline-color: ab.$accent;
				}

				&:invalid {
					outline-color: ab.$error;
				}

				&.input-error {
					outline-color: ab.$error;
				}
			}
		}

		button {
			margin-block: 0.5em 0;
			min-width: 100%;
			margin-inline: auto;
			background-color: ab.$accent;
			border: none;
			cursor: pointer;
			color: ab.$text-secondary;
			font-size: 1.3rem;
			font-weight: 600;
			border-radius: 0.8em;

			padding-block: 0.2em;

			transition: background-color 0.3s ease-in;

			&:hover {
				background-color: lighten(ab.$accent, 5%);
			}

			&:active {
				background-color: darken(ab.$accent, 5%);
			}
		}

		.server-error {
			font-size: 1.1rem;
			font-weight: 500;
			text-align: center;

			color: ab.$error;
		}
	}
}
