@use "./abstracts" as ab;
@use "./components";

.pacifico {
	font-family: "Pacifico", cursive;
}

body {
	background-color: ab.$background-primary;
	color: ab.$text-primary;
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;
}

#root {
	overflow-x: hidden;
}

.member-redirect {
	a {
		color: ab.$accent;
	}
}
